{% extends 'base.html.twig' %}

{% block title %}New Juego{% endblock %}

{% block principal %}
<div class="container-fluid bg-breadcrumb">
    <ul class="breadcrumb-animation">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Agregar nuevo juego</h1>
    </div>
</div>

    {{ include('juego/_form.html.twig') }}

    <a href="{{ path('videojuegos_index') }}">Volver</a>
{% endblock %}
