{% extends 'base.html.twig' %}

{% block title %}New Juego{% endblock %}

{% block principal %}
    <h1>Agregar nuevo juego</h1>

    {{ include('juego/_form.html.twig') }}

    <a href="{{ path('app_juego_index') }}">Volver</a>
{% endblock %}
