{% extends 'base.html.twig' %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <ul class="breadcrumb-animation">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Sobre nosotros</h1>
    </div>
</div>
<!-- Header End -->


<div class="container-fluid feature overflow-hidden py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
            <h4 class="text-primary">Desarrollo web en entorno servidor</h4>
            <h1 class="display-5 mb-4">Proyecto 2ª evaluación: Symfony</h1>
            <p class="mb-0">Soy Irene Vinader Antón, alumna de 2º de DAW en el IES San Vicente, y esta web de reseñas de videojuegos es mi proyecto final de la segunda evaluación.
            </p>
    </div>
</div>
{% endblock %}